<div>
  <h1>Edit Meeting:</h1>
  <div *ngIf="event">
    <div>
      <label>Person name:</label>
      <input [(ngModel)]="event.person.name">
    </div>
    <div>
      <label>Description:</label>
      <input [(ngModel)]="event.description">
    </div>
    <div class="date-time-block">
      <ngb-datepicker class="date-time-block" [(ngModel)]="dateModel"></ngb-datepicker>
      <ngb-timepicker class="date-time-block" [(ngModel)]="timeModel" [spinners]="false"></ngb-timepicker>
    </div>
    <div>
      <button (click)="updateEvent()">Save</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>
</div>
