<div>
  <h2>Events</h2>
  <div>
    <mat-list>
      <mat-list-item *ngFor="let event of events">
        <div class="events-list-item">
          <span>{{event.person.name}}</span>
          <span>{{event.getDate() | date: 'dd/MM/yyyy - HH:mm'}}</span>
        </div>
        <div class="hover-icons">
          <i (click)="editEvent(event)" class="material-icons icon-edit">mode_edit</i>
          <i (click)="removeEvent(event)" class="material-icons icon-delete">delete</i>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
